<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load userdef %}
</head>
<body>
    <h1>Hi,this is specific application page rendering</h1>
    {{a}}
    {{b}}
    {{c}}
    {{d.1}}
    {{e.A}}
    {{f.name}}
    {{f.roll}}
    {{f.phone}}
    {{ m|upper }}
    {{ m|length }}
    {{ n|title }}
    {# {% load userdef %} #}
    {{ m|lu }}
</body>
</html>